extends layout

block content
  h1= title
  p Use the following commands: 
  p <b> / </b> - <i> Home Page </i> (this)
  p <b> /get_all_products </b> - <i> get some of the products </i> - example params: categoryId, pageSize, currentPage
  p <b> /get_product_reviews </b> - <i> get product reviews </i> 