.container {
    font-size: 15px;
    border: dotted;
    border-width: 1px;
    background-color: #f2f2f2;
    width: 500px;
    height: 70px;
    margin-bottom: 20px;
}

.inner-text {
    margin-top: 10px;
}
.mini-text {
    font-size: x-small;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 245px;
        height: 80px;
    }
    .inner-text {
        margin-top: 5px;
    }
}