.card-row {
    margin: 0 auto;
    float: none;
    margin-bottom: 20px;
    border-radius: 7px;
    max-height: fit-content;
    max-width: 85%;
}

.card {
    align-items: stretch;
    flex-direction: column;
}

.searchbar-container {
    margin-top: 31px;
    margin-bottom: 27px;
}