.login-title {
    margin-top: 19vh;
    font-weight: 450;
    font-size: xx-large;   
}

.login-header {
    color: #6C5B57;
}

.login-sub-title {
    margin-top: 30px;
    font-size: medium;
    margin-bottom: 30px;
}