.register-title {
    margin-top: 55px;
    font-weight: 450;
    font-size: xx-large;   
}

.register-header {
    color: #6C5B57;
}

.register-text {
    display: inline-block;
    margin: auto;
    padding-left: 5%;
}

.register-sub-title {
    font-size: medium;
    margin-top: 30px;
    margin-bottom: 30px;
}